{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    .plans-col {
        border: 1px solid white;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
    }
    .plans-header {
        padding: 3rem 1rem;
        border-bottom: 1px solid white;
    }
    .plans-content {
        padding: 2rem 1rem;
        flex-grow: 1;
    }
    .plans-footer {
        padding: 2rem 0;
    }
    .join-button {
        background-image: linear-gradient(180deg, #f4443b, #fe817b);
    }
    .bg-black {
        color: white;
    }
    .row-equal > .col-md-4 {
        display: flex;
    }
</style>
<div class="container-fluid bg-black py-5">
    <div class="container">
        <div class="container text-center pb-4">
            <h1 class="my-3">Subscription Tiers</h1>
            <p>Upgrade to Plus, Gold, or Platinum for an enhanced Tinder experience.</p>
        </div>
        <div class="container">
            <div class="row row-equal gy-5">
                <div class="col-md-4">
                    <div class="plans-col bg-dark">
                        <div class="container align-items-center text-center plans-header d-flex">
                            <img src="{% static 'images/dlogo1.png' %}" alt="" height="50px">
                            <h4>Plus</h4>
                        </div>
                        <div class="container plans-content" style="font-size: 18px;">
                            <ul>
                                <li>Unlimited Likes</li>
                                <li>Unlimited Rewinds</li>
                                <li>Passport™ To Any Location</li>
                                <li>Hide Advertisements</li>
                                <li>Go Incognito</li>
                            </ul>
                        </div>
                        <div class="container text-center plans-footer">
                            <button class="join-button px-4 py-2 mt-3 fw-bold fs-5 rounded-pill border-0 text-light">Join</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="plans-col bg-dark">
                        <div class="container align-items-center text-center plans-header d-flex">
                            <img src="{% static 'images/dlogo1.png' %}" alt="" height="50px">
                            <h4>Gold</h4>
                        </div>
                        <div class="container plans-content" style="font-size: 18px;">
                            <ul>
                                <li>See Who Likes You</li>
                                <li>Weekly Super Likes</li>
                                <li>New Top Picks every day</li>
                                <li>1 Free Boost a month <br><small>Free monthly Boost only available for 1 month or longer subscriptions.</small></li>
                                <li>And everything you love from <span class="fw-bolder">SS Gold™!</span></li>
                            </ul>
                        </div>
                        <div class="container text-center plans-footer">
                            <button class="join-button px-4 py-2 mt-3 fw-bold fs-5 rounded-pill border-0 text-light">Join</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="plans-col bg-dark">
                        <div class="container align-items-center text-center plans-header d-flex">
                            <img src="{% static 'images/dlogo1.png' %}" alt="" height="50px">
                            <h4>Platinum</h4>
                        </div>
                        <div class="container plans-content" style="font-size: 18px;">
                            <ul>
                                <li>Message before Matching</li>
                                <li>Prioritized Likes</li>
                                <li>See the Likes you’ve sent in the last 7 days</li>
                                <li>And everything you love from <span class="fw-bolder">SS Platinum™!</span></li>
                            </ul>
                        </div>
                        <div class="container text-center plans-footer">
                            <button class="join-button px-4 py-2 mt-3 fw-bold fs-5 rounded-pill border-0 text-light">Join</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
