{% extends "base.html" %}

{% block content %}
<style>
    .form-group{
        margin-bottom:20px;
    }
</style>
<div class="container">
    <h2 class="text-center my-3">Create Personal Info</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <!-- First column of the form -->
                
                <div class="form-group row">
                    <label for="{{ form.fullname.id_for_label }}" class="col-md-4 col-form-label">{{ form.fullname.label }}</label>
                    <div class="col-md-8">
                        {{ form.fullname }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.DOB.id_for_label }}" class="col-md-4 col-form-label">{{ form.DOB.label }}</label>
                    <div class="col-md-8">
                        {{ form.DOB }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.gender.id_for_label }}" class="col-md-4 col-form-label">{{ form.gender.label }}</label>
                    <div class="col-md-8">
                        {{ form.gender }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.bio.id_for_label }}" class="col-md-4 col-form-label">{{ form.bio.label }}</label>
                    <div class="col-md-8">
                        {{ form.bio }}
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="{{ form.status.id_for_label }}" class="col-md-4 col-form-label">{{ form.status.label }}</label>
                    <div class="col-md-8">
                        {{ form.status }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.weight.id_for_label }}" class="col-md-4 col-form-label">{{ form.weight.label }}</label>
                    <div class="col-md-8">
                        {{ form.weight }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Second column of the form -->
                
                <div class="form-group row">
                    <label for="{{ form.height.id_for_label }}" class="col-md-4 col-form-label">{{ form.height.label }}</label>
                    <div class="col-md-8">
                        {{ form.height }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.designation.id_for_label }}" class="col-md-4 col-form-label">{{ form.designation.label }}</label>
                    <div class="col-md-8">
                        {{ form.designation }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.qualification.id_for_label }}" class="col-md-4 col-form-label">{{ form.qualification.label }}</label>
                    <div class="col-md-8">
                        {{ form.qualification }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.address.id_for_label }}" class="col-md-4 col-form-label">{{ form.address.label }}</label>
                    <div class="col-md-8">
                        {{ form.address }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.district.id_for_label }}" class="col-md-4 col-form-label">{{ form.district.label }}</label>
                    <div class="col-md-8">
                        {{ form.district }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.state.id_for_label }}" class="col-md-4 col-form-label">{{ form.state.label }}</label>
                    <div class="col-md-8">
                        {{ form.state }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.pincode.id_for_label }}" class="col-md-4 col-form-label">{{ form.pincode.label }}</label>
                    <div class="col-md-8">
                        {{ form.pincode }}
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block w-100 mb-5">Continue</button>
    </form>
</div>
{% endblock content %}
